<h1 class="title">
    Asset History
</h1>
<%if(errors.length > 0) {%>
    <div class="alert alert-danger">
        <%=errors%>
    </div>
<%}%>
<div class="form-center">
    <form action="/history" method="POST" class="needs-validation col-6" style="padding-left: 70px; font-size: 20px; margin-bottom: 50px;" novalidate>
        <div class="form-group">
            <label>Asset ID</label>
            <input type="text" class="form-control" name="id" required placeholder="Asset Id">
            <div class="invalid-feedback">
                Please enter asset id
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary col-md-12" value="Fetch">
        </div>
    </form>
</div>